h1 {
    text-align: center;
}

#botao-criar-tarefa{
    display: block;
    margin: auto;
}

#botao-criar-tarefa {
    font-weight: 500;
}

#deletar {
    height: 39px;
}
.tabela-customizada{
    background-color: rgb(51, 50, 50);
    width: 60%;
    margin: 0 auto;
}

.tabela-customizada th, 
.tabela-customizada td {
    background-color: rgb(51, 50, 50); /* Fundo das células */
}


.tabela-customizada th {
    color:  rgb(254, 210, 88);
}

textarea {
    width: 100%;
}

td p {
    background-color: white;
    border-radius:5px ;
    padding: 2%;
    text-wrap: wrap;
    width: 100%;
}

tr th + td {
    display: flex;
    gap: 20px;
}

/*calendario*/

#container-calendario{
    background-color: rgb(51, 50, 50);
    border: 1px solid black;
    border-radius: 20px;
    color: rgb(254, 210, 88);
    width: 290px;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#container-semana {
display: flex;
}

.container-botao {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.container-botao img {
    width: 20px;
    height: 15px;
}

#calendario p.dias-da-semana {
    text-align: center;
    font-weight: 600;
}

#calendario-datas {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;
}

#calendario-datas button {
    width: 35px; 
    height: 35px; 
    border: none;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

#calendario-datas button:hover {
    background-color: rgb(254, 210, 88); 
    font-weight: 500;
}

#calendario-datas button.selecionado {
    background-color:  rgb(254, 210, 88);
}

#calendario-datas button.dia-atual {
    background-color: rgb(224, 254, 88);
}

#calendario-datas button:active {
    border: 3px solid rgb(0, 145, 255); 
}

/*68ffc0*/

.form-control {
    height: 40px;
}

.form-control:focus {
    border-color: rgb(238, 216, 154);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(254, 210, 88);
  }