#botao-criar-tarefa{
    display: block;
    margin: auto;
}

.tabela-customizada{
    width: 60%;
    margin: 0 auto;
}

input {
    width: 100%;
}
td p {
    width: 100%;
}

tr th + td {
    display: flex;
    gap: 20px;
}

#container-calendario{
    width: 290px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-semana {
display: flex;
}

.container-botao {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

#calendario p.dias-da-semana {
    text-align: center;
    font-weight: 600;
    color: red;
}

#calendario-datas {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#calendario-datas button {
    width: 35px; 
    height: 35px; 
    border: none;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

#calendario-datas button:hover {
    background-color: rgb(117, 179, 255); 
    color:white;
    font-weight: 500;
}

#calendario-datas button.selecionado {
    background-color: #bae5ff;
}

#calendario-datas button:active {
    border: 3px solid rgb(0, 145, 255); 
}